/* ELEMENTS APPLIED TO ENTIRE PAGE*/

body {
    margin: 0;
    overflow-x: hidden;
    color: white;
    background-color: rgb(15, 15, 15);
}

.wrapper {
    height: 100vh;
    width: 19000vw;
    overflow: hidden;
}

/* TYPOGRAPHY */

h1 {
    margin-top:0;
    margin-bottom: 10px;
    font-weight: 100;
}

h2 {
    font-family: Helvetica, sans-serif;
    margin-top:0;
    margin-bottom: 10px;
    font-weight: 100;
}

.infinity-h2 {
    color: rgb(212, 212, 212);
}

.error-h2 {
    color: rgb(145, 161, 255);
}

.error-h3 {
    color: rgb(145, 161, 255);
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    text-decoration: line-through;
}

.error-h3:hover {
    text-decoration: none;
    background-color: rgb(145, 161, 255);
}

.cross-out {
    font-style: normal;
    text-decoration: line-through;
}

.cross-out:hover {
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    font-style: italic;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

/* TYPOGRAPHY */

/* NAVIGATION BAR */

nav {
    position: fixed;
    top: 1%;
    width: 100%;
    z-index: 1000;
}

.nav-wrapper {
    margin: 0 1vw;
    padding: 0;
    list-style: none;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(10, 10vw);
    column-gap: 1em;
} 

#nav-span1 {
    grid-column: span 2;
}

.clock {
    white-space: nowrap;
    grid-column: span 3;
}

.clock:hover {
  color: transparent;
  position: relative;
}

.clock::after {
    left: 5%;
}

.clock:hover::after {
    content: "the timeline";
    color: white;
    position: absolute;
    font-style: normal;
}

.nav-wrapper a.active {
    text-decoration: underline dotted;
}



/* NAVIGATION BAR */

/* CONTENT */
.container {
    display: flex;
    margin-left: 1vw;
    flex-direction: column;
    height: 100%;

}   

/* YEAR */

.year-grid{
    margin-top: 8vh;
    display: grid;
    grid-template-columns: repeat(3000, 10vw); /* ruler + content */
    column-gap: 1em;
}

.year {
    grid-column: span 10;
}

.year-stretch {
    grid-column: span 60;
}
/* YEAR */


/* EVENTS */

.event-grid {
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(2000, 10vw); /* ruler + content */
    column-gap: 1em;
}

.box-stretch {
    grid-column: span 2;
}

.box-span3 {
    grid-column: span 4;
}


img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

#filler1 {
    grid-column: span 243;
}

#filler2 {
    grid-column: span 260;
}

#filler3 {
    grid-column: span 235;
}

#filler4 {
    grid-column: span 54;
}

#filler5  {
    grid-column: span 255;
}

#filler6 {
    grid-column: span 9;
}

#filler7 {
    grid-column: span 151;
}

#filler8 {
    grid-column: span 3;
}

#filler9 {
    grid-column: span 5;
}

#filler10 {
    grid-column: span 61;
}

#filler11 {
    grid-column: span 11;
}

#filler12 {
    grid-column: span 36;
}

#filler13 {
    grid-column: span 8;
}

#filler14 {
    grid-column: span 35;
}

#filler15 {
    grid-column: span 16;
}

/* EVENTS */





/* RULER */
:root {
    --tick-gap: calc(10vw + 1em);
    --major-gap: calc(50vw + 5em);
}

        
.ruler {
    bottom: 0;
    height: 30px;
    width: 100%;
    position: absolute;

    background-image:
        /* major ticks */
        /*repeating-linear-gradient(
        to right,
        black 0px,
        black 3px,
        transparent 3px,
        transparent var(--major-gap)
        ),*/

        /* minor ticks */
        repeating-linear-gradient(
        to right,
        rgb(255, 255, 255) 0px,
        rgb(255, 255, 255) 2px,
        transparent 2px,
        transparent var(--tick-gap)
        );
};

.ruler-grid {
    display: grid;
    grid-template-columns: repeat(100, 100vw);
    column-gap: 10em;
}

.ruler-start::after,
.ruler-start::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 45px;
    background-color: rgb(255, 255, 255);
}

.ruler-mid::after,
.ruler-mid::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

.ruler-line::before,
.ruler-line::after {
    content: "";
    position: absolute;
    /*top: 0;*/
    bottom: 0;
    width: 1px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}

.guideline {
    position: absolute;
    left: 50px;
    width: 1px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
/* RULER */