/* ELEMENTS APPLIED TO ENTIRE PAGE*/

body {
    margin: 0;
    overflow-x: hidden;
    color: white;
    background-color: rgb(15, 15, 15);
}

.wrapper {
    height: 100vh;
    width: 23000vw;
    overflow: hidden;
}

/* TYPOGRAPHY */

h1 {
    margin-top:0;
    margin-bottom: 10px;
    font-weight: 100;
}

h2 {
    font-family: Helvetica, sans-serif;
    margin-top:0;
    margin-bottom: 10px;
    font-weight: 100;
}

.infinity-h2 {
    color: rgb(212, 212, 212);
}

.error-h2 {
    color: rgb(145, 161, 255);
}

.error-h3 {
    color: rgb(145, 161, 255);
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    text-decoration: line-through;
}

.error-h3:hover {
    text-decoration: none;
    background-color: rgb(145, 161, 255);
}

.cross-out {
    font-style: normal;
    text-decoration: line-through;
}

.cross-out:hover {
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    font-style: italic;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

/* TYPOGRAPHY */

/* NAVIGATION BAR */

nav {
    position: fixed;
    top: 1%;
    width: 100%;
    z-index: 1000;
}

.nav-wrapper {
    margin: 0 1vw;
    padding: 0;
    list-style: none;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(10, 10vw);
    column-gap: 1em;
} 

#nav-span1 {
    grid-column: span 2;
}

.clock {
    white-space: nowrap;
    grid-column: span 3;
}

.clock:hover {
  color: transparent;
  position: relative;
}

.clock::after {
    left: 5%;
}

.clock:hover::after {
    content: "the timeline";
    color: white;
    position: absolute;
    font-style: normal;
}

.nav-wrapper a.active {
    text-decoration: underline dotted;
}



/* NAVIGATION BAR */

/* CONTENT */
.container {
    display: flex;
    margin-left: 1vw;
    flex-direction: column;
    height: 100%;

}   

/* YEAR */

.year-grid{
    margin-top: 8vh;
    display: grid;
    grid-template-columns: repeat(3000, 10vw); /* ruler + content */
    column-gap: 1em;
}

.year {
    grid-column: span 10;
}

.year-9 {
    grid-column: span 9;
}

.year-6 {
    grid-column: span 6;
}

.year-3 {
    grid-column: span 3;
}

.year-7 {
    grid-column: span 7;
}

.year-11 {
    grid-column: span 11;
}

.year-stretch {
    grid-column: span 60;
}
/* YEAR */


/* EVENTS */

.event-grid {
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(21000, 10vw);
    column-gap: 1em;
}

.box-stretch {
    grid-column: span 2;
}

.box-span3 {
    grid-column: span 4;
}


img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

#filler1 { /* total = 243 - 10*/
    grid-column: span 78;
}
#filler1-2 {
    grid-column: span 77;
}
#filler1-3 {
    grid-column: span 77;
}

#filler2 { /* total = 260 - 8*/
    grid-column: span 63;
}
#filler2-1 {
    grid-column: span 63;
}
#filler2-2 {
    grid-column: span 63;
}
#filler2-3 {
    grid-column: span 63;
}

#filler3 { /* total = 235 - 12*/
    grid-column: span 44;
}
#filler3-1 {
    grid-column: span 44;
}
#filler3-2 {
    grid-column: span 45;
}
#filler3-3 {
    grid-column: span 45;
}
#filler3-4 {
    grid-column: span 45;
}

#filler4 {
    grid-column: span 54;
}

#filler5  { /* total = 255 - 14*/
    grid-column: span 40;
}
#filler5-1  {
    grid-column: span 40;
}
#filler5-2  {
    grid-column: span 40;
}
#filler5-3  {
    grid-column: span 41;
}
#filler5-4  {
    grid-column: span 41;
}
#filler5-5  {
    grid-column: span 41;
}


#filler6 {
    grid-column: span 9;
}

#filler7 { /* total = 151 - 12 = 139*/
    grid-column: span 27;
}
#filler7-1 {
    grid-column: span 28;
}
#filler7-2 {
    grid-column: span 28;
}
#filler7-3 {
    grid-column: span 28;
}
#filler7-4 {
    grid-column: span 28;
}


#filler8 {
    grid-column: span 3;
}

#filler9 {
    grid-column: span 5;
}

#filler10 { /* total = 61 - 2 = 59*/
    grid-column: span 29;
}
#filler10-1 {
    grid-column: span 30;
}

#filler11 {
    grid-column: span 11;
}

#filler12 { /* total = 36 - 4*/
    grid-column: span 16;
}
#filler12-1 {
    grid-column: span 16;
}

#filler13 {
    grid-column: span 8;
}

#filler14 { /* total = 35 - 6*/
    grid-column: span 9;
}
#filler14-1 { 
    grid-column: span 10;
}
#filler14-2 { 
    grid-column: span 10;
}

#filler15 {
    grid-column: span 16;
}

#filler16 {
    grid-column: span 40;
}

#filler17 {
    grid-column: span 17;
}

#filler18 {
    grid-column: span 12;
}

#filler19 {
    grid-column: span 65;
}

#filler20 {
    grid-column: span 3;
}

#filler21 {
    grid-column: span 2;
}

#filler22 {
    grid-column: span 4;
}

#filler23 {
    grid-column: span 16;
}

#filler24 {
    grid-column: span 50;
}

#filler25 {
    grid-column: span 46;
}

#filler26 {
    grid-column: span 17;
}

#filler27 {
    grid-column: span 30;
}

#filler28 {
    grid-column: span 32;
}

#filler29 {
    grid-column: span 111;
}

#filler30 {
    grid-column: span 8;
}

#filler31 {
    grid-column: span 34;
}

#filler-final {
    grid-column: span 70;
}
/* EVENTS */

/* RULER */
:root {
    --tick-gap: calc(10vw + 1em);
    --major-gap: calc(50vw + 5em);
}

        
.ruler {
    bottom: 0;
    height: 30px;
    width: 100%;
    position: absolute;

    background-image:
        /* major ticks */
        /*repeating-linear-gradient(
        to right,
        black 0px,
        black 3px,
        transparent 3px,
        transparent var(--major-gap)
        ),*/

        /* minor ticks */
        repeating-linear-gradient(
        to right,
        rgb(255, 255, 255) 0px,
        rgb(255, 255, 255) 2px,
        transparent 2px,
        transparent var(--tick-gap)
        );
};

/*.ruler-grid {
    display: grid;
    grid-template-columns: repeat(100, 100vw);
    column-gap: 10em;
}*/

.ruler-start::after,
.ruler-start::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 45px;
    background-color: rgb(255, 255, 255);
}

.ruler-mid::after,
.ruler-mid::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

.ruler-line::before,
.ruler-line::after {
    content: "";
    position: absolute;
    /*top: 0;*/
    bottom: 0;
    width: 1px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}

.guideline {
    position: absolute;
    left: 50px;
    width: 1px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
/* RULER */